*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 100%;
    margin: 0 auto;
}
.container.hr{
    background-color: red;
}
.header{
    position: relative;
    height: 400px;
}
.header img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.top-right{
    position: absolute;
    top: 0;
    right: 0;
    background-color: orangered;
    padding: 20px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 5px 5px gray;
}
.top-left{
    position: absolute;
    top: 0;
    left: 0;
    background-color: orangered ;
    padding: 19px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 5px 5px gray;
}

.top-right a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-variant: small-caps;
    margin-left: 20px;
    border-radius: 6px;
}
.top-right a:hover{
    color: orangered;
    background-color: white;
}
.company-info{
    position: absolute;
    bottom: 120px;
    left: 20px;

}
.company-info{
    font-size: 40px;
    font-variant: small-caps;
    font-weight: bold;
    color: wheat;
    text-shadow: 0 0 10px rgba(119, 0, 255, 0.659);
}
.company-info span{
    font-size: 35px;
    font-variant: small-caps;
    letter-spacing: 5px;
    border-top: 3px solid mediumseagreen;
    color: mediumseagreen;
    text-align: center;
}
*{
    padding: 0px;
    margin: 0px;
}
.menu ul{
    list-style: none;
    background-color: orangered;
    text-align: left;
    border-radius: 2px;
    
}
.menu ul li{
    display: inline-block;
    position: relative;
}
.menu ul li form{
    margin-left: 380px;
   
}
.menu ul li form input{
    border-radius: 6px;
    padding: 5px 20px;
    background-color: rgb(0, 255, 229);
}
.menu ul li form button{
    border-radius: 6px;
    padding: 2px 10px;
    background-color: rgb(245, 245, 220);
}
.menu ul li form button:hover{
    background-color: gray;
}
.menu ul li a{
    display: block;
    text-decoration: none;
    font-variant: small-caps;
    font-size: 20px;
    color: white;
    padding: 0 25px;
    line-height: 50px;
    
}
.menu ul li a:active,
.menu ul li a:focus{
    border-radius: 10px;
    background-color:yellow;
    color: red;
}
.menu ul ul{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    box-shadow: 0 0 2px gray;
    background-color: white;
    border-radius: 3px;
    text-align: left;
}
.menu ul ul li{
    display: block;
}
.menu ul ul a{
    display: block;
    color: orangered;
    text-decoration: none;
    font-size: larger;
    font-variant: small-caps;
    padding: 0 10px;
    line-height: 30px;
}
.menu ul ul a:hover{
    background-color: orangered;
    color: white;

}
.menu ul li:hover ul{
    display: block;
}
marquee{
    line-height: 25px;
    min-height: 25px;
    z-index: -1px;
    background-color:olivedrab;
    font-size: 18px;
}

.language{
    display: flex;
    margin-right: 20px;
    gap: 20px;
}
.language li{
    list-style: none;
}
.language li a{
    text-decoration: none;
    color: white;
    font-variant: small-caps;
}
.language li a:hover{
    background-color: white;
    color: orangered;
}
.container article{
    min-height: 400px;
    width: 75%;
    float: left;
    background-color: white;
    

}
.container> article > iframe{
    width: 100%;
    min-height: 500px;
}
.container article iframe[name=page]{
    width: 100%;
    height: 865px;
}



.container aside{
    min-height: 500px;
    width: 25%;
    float: right;
    background-color: rgb(0, 208, 255);
}
.container aside img{
    width: 100px;
    padding-left: 20px;
    
}
.container aside ul{
    list-style: none;
    padding: 20px;
}

.container aside ul li a{
    text-decoration: none;
    display: block;
    background-image: url(./check.png);
    background-size: 15px;
    background-position: 10px center;
    background-repeat: no-repeat;
    color: orangered;
    font-variant: small-caps;
    font-size: 20px;
    padding: 10px 40px;
    border-bottom: 1px dotted orangered;
}
.container aside ul a:hover{
    background-image: url(./next.png);
    background-size: 15px;
    background-position: 10px center;
    background-repeat: no-repeat;
    color: blue;
    border-bottom: 1px dotted white;
    font-weight: bolder;
}
.container footer{
    clear: both;
    line-height: 50px;
    background-color: cornflowerblue;
    text-align: center;
    font-variant: small-caps;
   
}
